.location-page {
  background-color: #99ff33; 
  background-color: #33ccff; 
  background-image: -webkit-linear-gradient(-460deg, #33ccff 0%, #99ff33 100% ); 
  background-image: linear-gradient(190deg, #33ccff, #99ff33);  
  margin-top: .25em;
  padding-top: .25em;
}
@media screen and (min-width: 30em) and (max-width: 53.75em) {
  
  .location-page {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 57.44681%;
    margin-left: 21.2766%;
  }
  
  last-child {
    margin-right: 0;
  }

@media screen and (min-width: 53.75em) {
  
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
    margin-left: 25.53191%;
  }

  last-child {
    margin-right: 0;
  }
}

 h1 {
  font-size: 1.5em;
  color: #55404f;
  text-align: center;
  margin-top: .5em;

@media screen and (min-width: 53.75em) {
    font-size: 2em;
  }

@media screen and (min-width: 53.75em) {
    font-size: 2.5em;
  }
}

h2 {
  color: #55404f;
  text-align: center;
}


.location-form {
  padding-bottom: .5em;
  text-align: center;
  }
















