footer {
	background: #222;
	color: #fff; //$white;
	padding-bottom: .025em;
	margin-top: .025em;
	text-align: center;

	height: 56px;	
	

	h5{
		padding-top: .05em;
	}
	
	p {
		font-size: .9em;
	}
	
   .link {
      text-decoration: none;
      color: blue;
   }

   .link:hover {
    filter: brightness(125%);
   }

  .link:active {
    filter: brightness(140%);
  }

	
}