<div class="row">
	<div class="col-md-offset-2 col-md-8">
<div class="card">
	<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
	<h1>About</h1>
	<br>
	<p>
		WeatherOutfits is just a simple fun web app built using ruby and some javascript/jQuery in the Ruby on Rails framework.
		You can use this web app to search for any location in the USA by its city or zipcode to get the current weather, hourly, 
		tomorrow and weekly forecast.  You can also make a comment or just shop from my closet on 
		<%= link_to "Poshmark", "https://poshmark.com/closet/cynth43" %> #laughoutloud!
	</p>
	<p>
		The ability to get your weather forecast is provided by using the 
		<%= link_to "weather underground API", "http://api.wunderground.com/weather/api/d/docs?d=data/forecast&MR" %>. 
		<br>
		Working on this project was fun and challenging - especially on the frontend side. My CSS and javascript are rusty- need improvement. 
		Will improve on the app. It's just a work in progress.  I look forward to building more things. 
		Motto: Always be learning and coding.
	</p>
	<p>
		Hope you all have fun using this web app and would love your feedback. Learn to code and let's collaborate. Follow me  
		<%= link_to "here", "http://www.twitter.com/ClintonC_45" %>.
	</p>
	<br>
	</div>
	</div>
	</div>
	</div>
</div>
<%= image_tag "about2.jpg", :class => "bigimage" %>