<footer>
    <h5>Leave me a comment in the comment box or Shop my closet on <a href="https://poshmark.com/closet/cynth43" target="_blank">PoshMark</a></h5>	
	<!--<h5>Shop my closet on <a href="https://poshmark.com/closet/cynth43" target="_blank">PoshMark</a></h5>
	<h5>I'll Have You Covered!</h5>-->
	
	<!--<hr>-->
	     
	<!--<a href="https://poshmark.com/closet/cynth43" target="_blank">--> 
	<!--	<img class="link-icons" <%= image_tag "icon-rat-gray.png" %>-->
	<!--</a>-->
	
	<!--<a href="https://www.instagram.com/cynth_44" target="_blank">-->
	<!--<img class="link-icons" <%= image_tag "icon-instagram-gray.png" %>-->
	<!--</a>-->

	<!--<a href="http://www.twitter.com/ClintonC_45" target="_blank">-->
	<!--<img class="link-icons" <%= image_tag "icon-twitter-gray.png" %>-->
	<!--</a>-->
	
</footer>