<footer>
    <h5>Leave me a comment in the comment box or Shop my closet on <a class="link" href="https://poshmark.com/closet/cynth43" target="_blank">PoshMark </a> &nbsp &#169; 2017 &nbsp by &nbsp <a class="link" href="https://www.instagram.com/cynth_44/" target="_blank">Cynthia C.</a> </h5>	
	
	
</footer>